:root {
  --title-color: #2e2f42;
  --link-color: #4d5ae5;
  --main-color: #ffffff;
  --header-color: #434455;
  --background-color: #f4f4fd;
  --paragraph-color: #e7e9fc;
  --b-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-color);
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}
li {
  flex-basis: auto;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.list-item {
  background-color: #ffffff;
  list-style: none;
}
.header-navigation {
  margin-top: 24px;
  margin-bottom: 24px;
}
.link {
  text-decoration: none;
}
.header {
  height: 72px;
  border: 0px;
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.h-item {
  list-style: none;
  display: flex;
  margin-right: 40px;
}
.header-item {
  list-style: none;
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}
.header-items {
  list-style: none;
  display: flex;
  margin-right: 0px;
}
.header-phone {
  list-style: none;
  display: flex;
  margin-right: 24px;
}
.tel {
  list-style: none;
  display: flex;
}
.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: flex;
  align-items: center;
}
.header-word {
  color: var(--link-color);
}
.header-mail,
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.main-section {
  background: var(--title-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--link-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--link-color);
}
.main-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 48px;
  outline: 1px;
  max-width: 496px;
  margin: 0 auto;
}
.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  display: block;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
  background: var(--link-color);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 170px;
  margin: 30px auto 0;
}
.main-button:hover,
.main-button:focus {
  background-color: var(--b-color);
}
.section {
  padding-top: 120px;
}
.section-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.section-item {
  width: 264px;
  margin-bottom: 72px;
  margin-top: 96px;
}
.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  display: flex;
  margin: 0 auto;
}
.about {
  padding-bottom: 120px;
  padding-top: 120px;
}
.team {
  background: var(--background-color);
  list-style: none;
  padding-top: 120px;
  padding-bottom: 120px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
  padding-left: 0px;
}
.title-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.title-paragraph {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-bottom: 32px;
}
.footer {
  background: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
  border-style: 5 px dotted;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 16px;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  width: 264px;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--link-color);
}
.footer-word {
  color: var(--link-color);
}
.button-list .prev {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background: var(--link-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.prev:hover,
.prev:focus {
  background-color: var(--link-color);
}
.next {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--link-color);
  background: var(--background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.next:hover,
.next:focus {
  background-color: var(--b-color);
  color: var(--main-color);
}
.s-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.topic {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.list-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.list-box {
  border: 0, 5px solid #e7e9fc;
  width: 360px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.topic-item {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-top: 8px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
