:root {
  --title-color: #2e2f42;
  --link-color: #4d5ae5;
  --main-color: #ffffff;
  --header-color: #434455;
  --background-color: #f4f4fd;
  --paragraph-color: #e7e9fc;
  --b-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-color);
}
p,
h1,
h2,
h3 {
  margin: 0px;
}
ul,
ol {
  margin: 0px;
  padding-left: 0px;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0px;
}
.list {
  list-style: none;
  display: flex;
  gap: 24px;
}
.list-item {
  background-color: #ffffff;
  list-style: none;
  padding-top: 48px;
  margin-bottom: 120px;
  list-style: none;
  gap: 24px;
}

.link {
  text-decoration: none;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 0px;
  border-bottom: 1px solid #2e2f42;
}
.header-navigation {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-right: 40px;
}
.header-word {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-left: 156px;
}
.header-mail,
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-right: 40px;
}
.main-section {
  background: var(--title-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.header-link:hover,
.header-link:focus {
  color: var(--link-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--link-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--link-color);
}
.main-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 48px;
  outline: 1px;
  padding-left: 300px;
  padding-right: 270px;
}
.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  display: inline-block;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--main-color);
  background: var(--link-color);
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 170px;
  margin-left: 500px;
}
.main-button:hover,
.main-button:focus {
  background-color: var(--b-color);
}

.section-list {
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: 146px;
  margin-right: 156px;
}
.section-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
  margin-top: 8px;
}
.section-parapraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  display: flex;
  margin: 0 auto;
}
.about {
  padding-bottom: 120px;
  margin-left: 24px;
}
.team {
  background: var(--background-color);
  padding-left: 24px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
  padding-top: 120px;
  padding-left: 0px;
}
.title-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 32px;
  margin-bottom: 8px;
}
.title-paragraph {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-bottom: 32px;
}
.footer {
  background: var(--title-color);
  padding-top: 120px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 0px;
  border-style: 5 px dotted;
  padding-left: 156px;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 16px;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  width: 264px;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--link-color);
}
.footer-word {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.prev {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--main-color);
  background: var(--link-color);
  margin-left: 472px;
  display: flex;
  margin-top: 96px;
  margin-bottom: 72px;
}
.prev:hover,
.prev:focus {
  background-color: var(--link-color);
}
.next {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--link-color);
  background: var(--background-color);
  gap: 24px;
  display: flex;
  margin-top: 96px;
  margin-bottom: 72px;
}
.next:hover,
.next:focus {
  background-color: var(--b-color);
  color: var(--main-color);
}
.container {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.description {
  margin-top: 32px;
  margin-left: 16px;
}
.list-items {
  background-color: #ffffff;
  list-style: none;
  display: flex;
  margin-left: 88px;
  width: 360px;
  height: 420px;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-top: 8px;
  margin-bottom: 32px;
  margin-left: 16px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
